<html>
<style>body{background-color: #93B874;text-align: justify;padding-right:15px; padding-left:15px;}</style>
<head>
	<title>ProtVR</title>
	<font face='Helvetica' size='5' style='text-align:center'><b>
		<h1 style="text-align:center;">ProtVR</h1>
	</font></b>
	<font face='Helvetica' size='5' style='text-align:center'>
		<p style='text-align:center;'>View Proteins in Virtual Reality</p>
	</font>
	<p style="text-align:center;"><img src='static/Intro.png' align='middle' style='width:128px;height:110px;border:2px solid grey'></p>
</head>

<!hr>
<form style="text-align:center;" action="/" method="post"><input name="something" type="text" placeholder="Enter PDP ID..."/><input type="submit" value="Search"/></form>
<hr>

<body><font face='Helvetica' size='4'>
	<h1>Description:</h1>
This website takes proteins and displays them in virtual reality (VR) so researchers and enthusiasts can better visualise them. Contact me at <span style="color:blue">sari.sabban@gmail.com</span> for any questions regarding this website. This website's original script is open source and can be found <a href='https://github.com/sarisabban/ProtVR/website'>here</a>. If you are a bioinformatician, programmer, or enthusiast I invite you to contribute to developing this website by making the VR more complex and with more functions, hopefully to give researchers better tools for visualisation and generally a better experience.
	<h1>How To Use:</h1>
<p>Simply type a protein's PDB ID, just as you would in the <a href=http://rcsb.org>RCSB website</a> (for example 2HIU for human insulin), in the search bar and click Search. You will get a page with the protein's structure in virtual reality. Virtual reality (VR) is best viewed from a <b>mobile phone</b> in landscape orientation where the script will automatically split the screen in two, use a VR headset to view the protein in VR.</p> 
<p>Sometimes the protein will not apear in your field of view, therefore you will have to look for it. Other times you might appear inside the protein, so you will have to move away to see it.</p>
	<h1>References:</h1>
<p>The script that converts shapes into VR can be found <a href=https://aframe.io/releases/0.5.0/aframe.min.js>here</a>.</p>

</font>
</body>

<footer><font  face='Courier New' size='2'>
<hr>
	<p>This website was created and is maintained by: <b>Sari Sabban</b></p>
	<p>Contact information: <span style="color:blue">sari.sabban@gmail.com</span></p>
	<p>This website first came online in <b>March 2017</b>. Last updated <b>March 2017</b>.</p>
</font>
</footer> 

</html>
